<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valores</title>
    <link rel="stylesheet" href="Values.css">
</head>
<body>
<header>
  <nav>
    <img id="logo" src="/Img/logo.png" alt="Logo">
    <ul class="menu">
      <li><a href="/"><span class="highlight">Inicio</span></a></li>
      <li><a href="/valores">Valores</a></li>
      <li><a href="/skills">Habilidades</a></li>
      <li><a href="/proyectos">Proyectos</a></li>
      <li><a href="/contacto">Contacto</a></li>
    </ul>
  </nav>
</header>

<main class="valores-container">
<h1>Valores</h1>


 <fieldset>
        <p><span class="values">1. Compromiso:</span> Me comprometo a cumplir con mis responsabilidades y a trabajar arduamente para alcanzar mis metas.</p>
        <p><span class="values">2. Integridad:</span> Actúo con honestidad y transparencia en todas mis interacciones.</p>
        <p><span class="values">3. Respeto:</span> Valoro la diversidad y trato a los demás con dignidad y consideración.</p>
        <p><span class="values">4. Innovación:</span> Busco constantemente nuevas formas de mejorar y aprender.</p>
        <p><span class="values">5. Colaboración:</span> Creo en el poder del trabajo en equipo y la colaboración para lograr resultados excepcionales.</p>
        <p><span class="values">6. Responsabilidad:</span> Asumo las consecuencias de mis decisiones y acciones con madurez.</p>
        <p><span class="values">7. Perseverancia:</span> Mantengo mi enfoque y esfuerzo incluso ante los desafíos.</p>
        <p><span class="values">8. Empatía:</span> Escucho y entiendo las perspectivas de los demás con sensibilidad y respeto.</p>
        <p><span class="values">9. Disciplina:</span> Mantengo hábitos que me permiten ser consistente y eficiente.</p>
        <p><span class="values">10. Pasión:</span> Me entusiasmo por lo que hago y pongo el corazón en cada proyecto.</p>
    </fieldset>
</main>




<script>
  const links = document.querySelectorAll("nav a");

  links.forEach(link => {
    link.addEventListener("click", function (e) {
      e.preventDefault(); 
      const href = this.getAttribute("href");

      document.body.classList.add("fade-out");

      setTimeout(() => {
        window.location.href = href;
      }, 500); 
    });
  });
</script>
</body>
</html>