body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #100c14;
}

header {
    background-color: #1a1d3b96;
    height: 60px;
    max-width: 85%;
    margin: 20px auto 0 auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#logo {
    width: 55px;
    height: 45px;
    margin-left: 25px;
    margin-bottom: 5px;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 40px;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.3s ease;
}

#Contact {
    margin-right: 30px;
}

.menu li a:hover {
    color: #7824ff;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

main {
    max-width: 70%;
    min-width: 70%;
    height: 70%;
    padding: 20px;
    background-color: #05050500;
    border-radius: 10px;
    color: white;
}

.content-wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
    height: 100%;
    justify-content: space-between;
}

.left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
}

.right {
    flex: 2;
    text-align: left;
}

.right h1 {
font-size: 60px;   letter-spacing: 2px;
    color: #1559ec;
}
margin-

.right h2 {
font-size: 40px;
font-weight: 400;
color: #ff00000a;
}

.right h1, .right h2, .right p {
    margin: 10px 0;
}

.right p {
    max-width: 100%;
    line-height: 1.6;
    font-size: 18px;
}



.fade-out {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: scale(0.98);
    }
}




@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .right {
        text-align: center;
    }

    .left img {
        margin-bottom: 20px;
    }
}

.highlight {
    color: #1e90ff; 
    font-weight: bold; 
}


